spring:
  application:
    name: booking-service

  config:
    import: "configserver:http://localhost:8888"

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,circuitbreakers,beans,conditions
  endpoint:
    conditions:
      enabled: true

logging:
  level:
    root: INFO
